<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="UTF-8">
<title>Liste des monuments par departement</title>
<link rel="stylesheet" type="text/css"
	href="https://bootswatch.com/4/flatly/bootstrap.min.css"
	th:href="@{https://bootswatch.com/4/flatly/bootstrap.min.css}" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"crossorigin="anonymous"></script>
</head>

<body>
	<header th:replace="indexx :: header"></header>
	<p>
		<!-- juste pour espacer entre la barre et la div hhh -->
	</p>
	<div class="container spacer">
		<form th:action="@{/listCeleb}" methode="get">
			<div class="form-group">
				<label> Veuillez saisir le code du monument </label> <input
					type="text" name="codeM" class="buttuon buton primary">
				<button type="submit" class="btn btn-primary">Voir
			</div>
		</form>
	</div>
	<div class="container" spacer>
		<table class="table" table-striped>
			<thead>
				<tr>
					<th>nom</th>
					<th>Prenom</th>
					<th>Epoque</th>
				</tr>
			</thead>

			<tbody>
				<tr class="table-light" th:each="c:${listc}">

					<td th:text="${c.nom}"></td>
					<td th:text="${c.prenom}"></td>
					<td th:text="${c.epoque}"></td>
				  </tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>
