<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="UTF-8">
<title>Liste des monuments par departement</title>
<link rel="stylesheet" type="text/css"
	href="https://bootswatch.com/4/flatly/bootstrap.min.css"
	th:href="@{https://bootswatch.com/4/flatly/bootstrap.min.css}" />
<link th:href="@{/css/styles.css}" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"crossorigin="anonymous"></script>
</head>

<body>
	<header th:replace="indexx :: header"></header>
	<div class="container spacer">
		<form th:action="@{/listMonbyceleb}" methode="get">
			<div class="form-group">
				<label> Veuillez saisir le nom de celebrite</label> <input
					type="text" name="nom" class="buttuon buton primary">
				<button type="submit" class="btn btn-primary">Tous les
					Monuments de cet celebrite</button>
			</div>
		</form>
	</div>
	<div class="container" spacer>
		<table class="table" table-striped>
			<thead>
				<tr>
					<th>codeM</th>
					<th>Nom du monument</th>
					<th>Proprietaire</th>
					<th>Tupe du Monument</th>
					<th>Latitude</th>
					<th>Longitude</th>
					<th>code Insee</th>
				</tr>
			</thead>

			<tbody>
				<tr class="table-light" th:each="m:${list}">

					<td th:text="${m.codeM}"></td>
					<td th:text="${m.nomM}"></td>
					<td th:text="${m.proprietaire}"></td>
					<td th:text="${m.typeMonument}"></td>
					<td th:text="${m.latitude}"></td>
					<td th:text="${m.longitude}"></td>
					<td th:text="${m.codeLieu.codeInsee}">
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>
